<ct-navbar></ct-navbar>
<static-header></static-header>
<div class='fondo'>
        <div class="container principal">
                <breadcrumb></breadcrumb>
                <router-outlet></router-outlet>
        </div>
</div>

<static-footer></static-footer>