        <div class="row">
            <div class="col-md-12 text-center">
                <div class="table-responsive">
                    <table class="table pedido">
                        <thead>
                            <tr>
                                <th colspan="2">Producto</th>
                                <th>Precio por unidad</th>
                                <th>Cantidad</th>
                                <th>Importe</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let cesta of cestaArticulos ">
                                <td>
                                    <span class="glyphicon glyphicon-remove" aria-hidden="true" (click)="borrar(cesta);"></span>
                                </td>
                                <td>{{cesta.nombre}}</td>
                                <td>{{cesta.precio}}</td>
                                <td>
                                    <input type="number" (click)="actualizarCantidad(cant.value,cesta)" (keyup)="actualizarCantidad(cant.value,cesta)"
                                        name="cantidad" min="1" max="99" value='{{cesta.cantidad}}' #cant> </td>
                                <td>{{(cesta.cantidad*cesta.precio).toFixed(2)}}</td>
                            </tr>

                            <tr id="total">
                                <td colspan="4">Importe total del pedido</td>
                                <td>
                                    <span>{{precioTotal}}€</span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <form #form class="form-inline" method='post' action='https://www.sandbox.paypal.com/cgi-bin/webscr'>
                    <input type="hidden" name="cmd" value="_xclick">
                    <input type="hidden" name="business" value="proyectodaw-facilitator@gmail.com">
                    <input type="hidden" name="currency_code" value="EUR">
                    <input type="hidden" name="amount" value={{precioTotal}}>
                    <input type="hidden" name="return" value="https://nahia-13.000webhostapp.com/">
                    <input type='hidden' name='cancel_return' value="https://nahia-13.000webhostapp.com/">
                    <input type="hidden" name="no_shipping" value="1">
                    <button (click)="vaciarCesta();" class="btn btn-default btn-lg" type="input">Borrar pedido</button>
                   
                    <button *ngIf="logged && !cestaArticulos.length==0"(click)="insertarPedido();form.submit()" class="btn btn-default btn-lg" type="input"  alt="Paga con Paypal!">Finalizar pedido</button>
                    <span *ngIf="!logged"> Inicie sesión para poder pagar.</span>
                    <span *ngIf='cestaArticulos.length==0'> Su cesta está vacía</span>

                </form>
               
            </div>
        </div>
