<div class="col-lg-12">
    <hr>
    <h2 class="intro-text text-center">
        <strong>Contacto</strong>
    </h2>
    <hr>
    <p class="text-center">En este formulario puede enviar cualquier sugerencia, incidencia o comentario. Le contestaré lo más rápido posible.</p>
    <br>
    <form [formGroup]="formGroup" (validSubmit)="onSubmit()">

        <div class="row">
            <div class="form-group col-lg-6">

                <label for="inputName" class="col-sm-2 control-label">Nombre</label>
                <div class="col-sm-10">
                    <input [(ngModel)]="name" type="text" class="form-control" id="inputName" formControlName="Nombre" placeholder="Nombre" required> </div>
            </div>

            <div class="form-group col-lg-6">
                <label for="inputEmail" class="col-sm-2 control-label">Email</label>
                <div class="col-sm-10">
                    <input [(ngModel)]="email" type="email" class="form-control" id="inputEmail" formControlName="Email" placeholder="Email"
                        required>
                </div>
            </div>


            <div class="form-group col-lg-12">

                <label for="message">Mensaje</label>
                <textarea class="form-control" rows="6" [(ngModel)]="mensaje" formControlName="Mensaje"></textarea>
            </div>
            <div class="form-group col-lg-12 text-center">
                <input type="hidden" name="save" value="contact">
                <button id="enviarMensaje" (click)='sendEmail()' type="submit" class="btn btn-default">Enviar mensaje</button>
                <br>
            </div>

        </div>
        <div class="row">
            <a href="https://www.google.es/maps/place/Av.+de+la+Onu,+81,+28936+M%C3%B3stoles,+Madrid/@40.3126241,-3.8541687,17z/data=!3m1!4b1!4m5!3m4!1s0xd418c3bb8f2542f:0x8a7066913b0d3e13!8m2!3d40.31262!4d-3.85198"
                rel="external" target="_blank">
                <img id='mapa' class="pull-left img-responsive" src="assets/mapa.jpg" alt="Tienda" title="Tienda">
            </a>
            <div id='datos'>
                <p>Sweet Dessert </p>
                <p>C/ Avenida de la ONU 81, 28936 Móstoles, Madrid · 916 48 01 38 </p>
                <p>info@sweetdessert.com </p>
                <p>Horario · De Lunes a Viernes: 10:30h. a 19 30h · Sábado 10:00h. a 14:00h.</p>
            </div>
        </div>
    </form>
</div>