<div class="row">

    <div class="col-md-offset-2 col-sm-4 col-lg-4 col-md-4 producto">
        <img class='img-responsive' src="{{producto.imagen}}" title="{{producto.nombre}}" title="{{producto.nombre}}" alt="{{producto.nombre}}">

    </div>

    <div class="col-sm-4 col-lg-4 col-md-4 col-md-offset-1">
        <h3 id="nombreProducto">{{producto.nombre}}</h3>
        <div id='descripcion'>
            <div>{{producto.descripcion}}</div>
        </div>

        <div id="precio">
            <h1>
                <strong>{{producto.precio}}€</strong>
            </h1>
        </div>

        <div>
            Cantidad:
            <input [(ngModel)]='cantidad' type="number" id='cantidad' min="1" max='2' title="Cantidad">

        </div>
        <button type="button" (click)=addProducto(producto) class="btn btn-default btn-block btn-lg hidden-xs"> Añadir a la cesta
            <span class="glyphicon glyphicon-shopping-cart"></span>
        </button>

        <button class='btn btn-block visible-xs' type="button" (click)=addProducto(producto)> Añadir
            <span class="glyphicon glyphicon-shopping-cart"></span>
        </button>

    </div>

</div>