<div class="container-fluid footer">
    <footer>
        <div class="row">
            <div class="siguenos col-lg-3">

                <h3>Síguenos</h3>

                <a target="_blank" href="https://www.facebook.com/nahia13">
                    <img class="socialmedia" src="./assets/siguenos/facebook.png" alt="facebook">
                </a>
                <a target="_blank" href="https://twitter.com/nahia1303">
                    <img class="socialmedia" src="./assets/siguenos/twitter.png" alt="twitter">
                </a>
                <a target="_blank" href="https://es.pinterest.com/anahsierra/">
                    <img class="socialmedia" src="./assets/siguenos/pinterest.png" alt="pinterest">
                </a>

            </div>

            <div class="datos col-lg-8">


                <p>
                    <img id='inicio' class='img-responsive' src="./assets/mapa-con-marcador-de-posicion.png">Sweet Dessert · C/ Avenida de la ONU 81, 28936 Móstoles, Madrid · 916 48 01 38 · info@sweetdessert.com
                    · Horario · De Lunes a Viernes: 10:30h. a 19 30h · Sábado 10:00h. a 14:00h.</p>
                <a href="https://www.google.es/maps/place/Av.+de+la+Onu,+81,+28936+M%C3%B3stoles,+Madrid/@40.3126241,-3.8541687,17z/data=!3m1!4b1!4m5!3m4!1s0xd418c3bb8f2542f:0x8a7066913b0d3e13!8m2!3d40.31262!4d-3.85198"
                    rel="external" target="_blank">
                    <img id='mapa' class='img-responsive center-block' src="assets/mapa.jpg" alt="Tienda" title="Tienda">
                </a>
                <p>
                    <a [routerLink]="['/politica']">Política de privacidad</a> - Copyright &copy; Anahí Peña Sierra</p>
            </div>

            <div class="col-lg-1">
                <a (click)=goTop()>
                    <img id='flecha' src="assets/up-arrow.png" alt="arriba" title="arriba">
                </a>
            </div>
        </div>
    </footer>
</div>