<div class="head">
    <div class="container">
        <div class="rowHead">

            <div class='col-md-2 hidden-sm hidden-xs'>
                <a [routerLink]="['']">
                    <img id='logo' class='img-responsive' src="./assets/logo.png">
                </a>

            </div>
            <div class='col-md-8 hidden-sm hidden-xs'>
                <div id="slogan">El mejor sitio web para comprar utensilios de repostería</div>

            </div>

            <div class='col-md-2 col-sm-4 col-xs-8' id='cesta'>

                <button type="button" [routerLink]="['/cesta']" class="btn btn-default btn-lg  pull-right">
                    <span class="glyphicon glyphicon-shopping-cart"></span> Cesta({{articulos}})</button>
            </div>
        </div>
    </div>
</div>