<div class="col-md-offset-2 col-md-8">
    <div class="row">

        <h2 id='destacado' class="text-center">Categorías de productos</h2>

        <div class="btn-group">
            <button type="button" class='btn btn-default btn-lg'>
                <a [routerLink]="['/producto/aromas']">Aromas</a>
            </button>
            <button class='btn btn-default btn-lg'>
                <a [routerLink]="['/producto/colorantes']">Colorantes</a>
            </button>
            <button class='btn btn-default btn-lg'>
                <a [routerLink]="['/producto/cortadores']">Cortadores</a>
            </button>
            <button class='btn btn-default btn-lg'>
                <a [routerLink]="['/producto/decoracion']">Decoración</a>
            </button>
            <button class='btn btn-default btn-lg'>
                <a [routerLink]="['/producto/fondant']">Fondant</a>
            </button>
            <button class='btn btn-default btn-lg'>
                <a [routerLink]="['/producto/moldes']">Moldes</a>
            </button>
        </div>


    </div>
    <div id="containerinicio">
        <carousel>
            <slide>
                <span *ngIf="mobileScreen">
                    <img class="img-responsive" src="./assets/carousel/pastel.png" title="pastel decorado" alt="pastel decorado" style="display: block; width: 100%;">
                </span>
                <span *ngIf="!mobileScreen">
                    <img src="./assets/carousel/pastel.png" title="pastel decorado" alt="pastel decorado" style="display: block; width: 100%;">

                    <div class="carousel-caption d-none d-md-block">
                        <h2 class='titulocarousel'>Nosotros te lo ponemos fácil</h2>
                        <h4 class='titulocarousel'>Disfruta con nosotros de la repostería.</h4>
                    </div>
                </span>

            </slide>
            <slide>
                <span *ngIf="mobileScreen">
                    <img class="img-responsive" src="./assets/carousel/cakepops.jpg" title="pops" alt="pops" style="display: block; width: 100%;">
                </span>


                <span *ngIf="!mobileScreen">
                    <img src="./assets/carousel/cakepops.jpg" title="pops" alt="pops" style="display: block; width: 100%;">

                    <div class="carousel-caption d-none d-md-block">
                        <h2 class='titulocarousel'>Entrega en 24 horas</h2>
                        <h4 class='titulocarousel'>No esperes más de la cuenta.</h4>
                    </div>
                </span>
            </slide>
            <slide>
                <span *ngIf="mobileScreen">
                    <img class="img-responsive" src="./assets/carousel/pancakes.jpg" title="pancakes" alt="pancakes" style="display: block; width: 100%;">
                </span>
                <span *ngIf="!mobileScreen">
                    <img src="./assets/carousel/pancakes.jpg" title="pancakes" alt="pancakes" style="display: block; width: 100%;">

                    <div class="carousel-caption d-none d-md-block">
                        <h2 class='titulocarousel'>La tienda online mejor valorada por los consumidores del 2017</h2>
                        <h4 class='titulocarousel'>Síguenos en las redes sociales.</h4>
                    </div>
                </span>
            </slide>
        </carousel>
        <div id='articulosdestacados'>
            <div class="row">
                <h2 id='destacado' class="text-center">Artículos destacados</h2>

                <span *ngFor="let producto of productos">
                    <div class="col-sm-6 col-lg-4 col-md-6">
                        <div class="thumbnail">
                            <a [routerLink]="['/detallep',producto.id]">
                                <img src="{{producto.imagen}}" title="{{producto.nombre}}" alt="{{producto.nombre}}">
                            </a>
                            <div class="caption">
                                <h4 class="pull-right hidden-xs">{{producto.precio}}€</h4>
                                <h4>
                                    <a [routerLink]="['/detallep',producto.id]">{{producto.descripcion}}</a>
                                </h4>
                                <p>
                                    <button type="button" (click)=addProducto(producto) class="btn btn-default btn-block btn-lg hidden-xs"> Añadir a la cesta
                                        <span class="glyphicon glyphicon-shopping-cart"></span>
                                    </button>
                                </p>
                            </div>
                            <button class='btn btn-block visible-xs' type="button" (click)=addProducto(producto)> Añadir
                                <span class="glyphicon glyphicon-shopping-cart"></span>
                            </button>

                        </div>
                    </div>
                </span>
            </div>