<div class="row">
  <div class="col-md-3">
    <p class="lead">
      <em>Sweet Dessert</em>
    </p>
    <div class="list-group">
      <button (click)='setCategoria("aromas");' [ngClass]="{'active':categoria=='aromas'}" class="list-group-item">Aromas</button>
      <button (click)='setCategoria("colorantes");' [ngClass]="{'active':categoria=='colorantes'}" class="list-group-item">Colorantes</button>
      <button (click)='setCategoria("cortadores");' [ngClass]="{'active':categoria=='cortadores'}" class="list-group-item">Cortadores</button>
      <button (click)='setCategoria("decoracion");' [ngClass]="{'active':categoria=='decoracion'}" class="list-group-item">Decoración comestible</button>
      <button (click)='setCategoria("fondant"); ' [ngClass]="{'active':categoria=='fondant'}" class="list-group-item">Fondant</button>
      <button (click)='setCategoria("moldes");' [ngClass]="{'active':categoria=='moldes'}" class="list-group-item">Moldes</button>
    </div>
  </div>

  <div class="col-md-9">

    <div class="row">
      <span *ngFor="let producto of productos">
        <div class="col-sm-6 col-lg-4 col-md-6" *ngIf="showCategoria(producto.categoria);">

          <div class="thumbnail">
            <a [routerLink]="['/detallep',producto.id]">
              <img src="{{producto.imagen}}" title="{{producto.nombre}}" alt="{{producto.nombre}}">
            </a>
            <div class="caption hidden-xs">
              <h4 class="pull-right">{{producto.precio}}€</h4>
              <h4>
                <a [routerLink]="['/detallep',producto.id]">{{producto.descripcion}}</a>
              </h4>
              <p>
                <button type="button" (click)=addProducto(producto) class="btn btn-default btn-block btn-lg"> Añadir a la cesta
                  <span class="glyphicon glyphicon-shopping-cart"></span>
                </button>
              </p>
            </div>
            <button class='btn btn-block visible-xs' type="button" (click)=addProducto(producto)> Añadir
              <span class="glyphicon glyphicon-shopping-cart"></span>
            </button>



          </div>

        </div>


      </span>

    </div>

  </div>
</div>