<div class="row">
    <div id='iniciarsesion' class="col-sm-offset-3 col-sm-6">
        <h2 id='titulo' class="intro-text text-center">Iniciar sesión</h2>
        <br>
        <form class=" form-horizontal" data-toggle="validator" role="form">

            <div class="form-group">

                <label for="inputEmail" class="col-sm-3 control-label">
                    <img id='inicio' class='img-responsive' src="./assets/carta.png">Email
                </label>

                <div class="col-sm-9">
                    <input #email name="email" type="email" class="form-control" id="inputEmail" placeholder="tucorreo@dominio.com" data-error="Email no válido"
                        required>
                    <div class="help-block with-errors"></div>
                </div>
            </div>
            <div class="form-group">
                <label for="inputPassword" class="col-sm-3 control-label">
                    <img id='inicio' class='img-responsive' src="./assets/candado.png">Contraseña</label>
                <div class="col-sm-9">
                    <input #pass name="pass" type="password" data-minlength="6" class="form-control" id="inputPassword" placeholder="Tu contraseña"
                        required>
                </div>
            </div>
            <div class="form-group text-center">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-default btn-lg" (click)="login(email.value, pass.value)">Conectarse</button>

                </div>
            </div>
        </form>
    </div>
</div>