<div class="row">
    <h2 class="intro-text text-center"> Mapa Web</h2>
    <div class="col-sm-offset-3 col-sm-6">
        <br>
        <ul>
            <li>
                <a [routerLink]="['']">Inicio</a>
            </li>
            <ul>
                <li>
                    <a [routerLink]="['/producto/aromas']">Repostería</a>
                </li>
                <ul>
                    <li>
                        <a [routerLink]="['/producto/aromas']">Aromas</a>
                    </li>
                    <ul>
                        <li>
                            <a [routerLink]="['/detallep',1]">Producto</a>
                        </li>
                    </ul>
                    <li>
                        <a [routerLink]="['/producto/colorantes']">Colorantes</a>

                    </li>
                    <ul>
                        <li>
                            <a [routerLink]="['/detallep',2]">Producto</a>
                        </li>
                    </ul>
                    <li>
                        <a [routerLink]="['/producto/cortadores']">Cortadores</a>
                    </li>
                    <ul>
                        <li>
                            <a [routerLink]="['/detallep',3]">Producto</a>
                        </li>
                    </ul>
                    <li>
                        <a [routerLink]="['/producto/decoracion']">Decoración</a>
                    </li>
                    <ul>
                        <li>
                            <a [routerLink]="['/detallep',4]">Producto</a>
                        </li>
                    </ul>
                    <li>
                        <a [routerLink]="['/producto/fondant']">Fondant</a>
                    </li>
                    <ul>
                        <li>
                            <a [routerLink]="['/detallep',5]">Producto</a>
                        </li>
                    </ul>
                    <li>
                        <a [routerLink]="['/producto/moldes']">Moldes</a>
                    </li>
                    <ul>
                        <li>
                            <a [routerLink]="['/detallep',6]">Producto</a>
                        </li>
                    </ul>
                </ul>
                <li>
                    <a [routerLink]="['/contactar']">Contactar</a>
                </li>
                <li>
                    <a [routerLink]="['/mapaweb']">Mapa Web</a>
                </li>
                <li>
                    <a [routerLink]="['']">Login</a>
                </li>
                <li>
                    <a [routerLink]="['/registro']">Registro</a>
                </li>
            </ul>
        </ul>

    </div>
</div>