<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" (click)="toggleState()">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
           <a [routerLink]="['']"> <img id='logonavbar' class='img-responsive' src="./assets/logo.png"></a>
        </div>
        
        <div id="navbar" class="collapse navbar-collapse" [ngClass]="{ 'in': isIn }">
            <ul class="nav navbar-nav">

                <li>
                    <a (click)="toggleState()" [routerLink]="['']">
                        <img id='inicio' class='img-responsive' src="./assets/home.png" alt="Inicio" title="Inicio"><span class='esconderTablet'>Inicio</span></a>
                </li>
                <li ngbDropdown>

                    <a ngbDropdownToggle>
                        <img id='inicio' class='img-responsive' src="./assets/magdalena.png" alt="Categoría" title="Categoría"><span class='esconderTablet'>Categorías</span>
                        <b class="caret"></b>
                    </a>
                    <ul ngbDropdownMenu>
                        <li>
                            <a (click)="toggleState()" [routerLink]="['/producto','aromas']">Aromas</a>
                        </li>
                        <li>
                            <a (click)="toggleState()" [routerLink]="['/producto','colorantes']">Colorantes</a>
                        </li>
                        <li>
                            <a (click)="toggleState()" [routerLink]="['/producto','cortadores']">Cortadores</a>
                        </li>
                        <li>
                            <a (click)="toggleState()" [routerLink]="['/producto','decoracion']">Decoración comestible</a>
                        </li>
                        <li>
                            <a (click)="toggleState()" [routerLink]="['/producto','fondant']">Fondant</a>
                        </li>
                        <li>
                            <a (click)="toggleState()" [routerLink]="['/producto','moldes']">Moldes</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a (click)="toggleState()" [routerLink]="['/contactar']">
                        <img id='inicio' class='img-responsive' src="./assets/email.png" alt="Contactar" title="Contactar"><span class='esconderTablet'>Contactar</span></a>
                </li>
                <li>
                    <a (click)="toggleState()" [routerLink]="['/mapaweb']">
                        <img id='inicio' class='img-responsive' src="./assets/mapa-del-sitio.png" alt="Mapa Web" title="Mapa Web"><span class='esconderTablet'>Mapa Web</span></a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <!-- <li class="divider">
                    <hr>
                </li> -->
                <li *ngIf="!logged">
                    <a (click)="toggleState()" [routerLink]="['/login']">
                        <img id='inicio' class='img-responsive' src="./assets/inicio.png" alt="Iniciar sesión" title="Iniciar sesión">Iniciar sesión</a>
                </li>
                <li *ngIf="logged">
                    <a (click)="toggleState()" [routerLink]="['/logout']" (click)=logout()>
                        <img id='inicio' class='img-responsive' src="./assets/inicio.png" alt="Cerrar sesión" title="Cerrar sesión">Cerrar sesión</a>
                </li>
                <li>
                    <a (click)="toggleState()" [routerLink]="['/registro']">
                        <img id='inicio' class='img-responsive' src="./assets/registrarse.png" alt="Registrarse" title="Registrarse">Registrarse</a>
                </li>
            </ul>
        </div>


    </div>


</nav>