<div class="col-lg-12">
    <hr>
    <h2 class="intro-text text-center">
        <strong> Política de privacidad:</strong>
    </h2>
    <hr>
    <span>

        <p>A través de este sitio web no se recaban datos de carácter personal de los usuarios sin su conocimiento, ni se ceden
            a terceros.</p>

        <p>Con la finalidad de ofrecerle el mejor servicio y con el objeto de facilitar el uso, se analizan el número de páginas
            visitadas, el número de visitas, así como la actividad de los visitantes y su frecuencia de utilización. A estos
            efectos, la AEPD utiliza la información estadística elaborada por el Proveedor de Servicios de Internet.</p>

        <p>La AEPD no utiliza cookies para recoger información de los usuarios, ni registra las direcciones IP de acceso. Únicamente
            se utilizan cookies propias, de sesión, con finalidad técnica (aquellas que permiten al usuario la navegación
            a través del sitio web y la utilización de las diferentes opciones y servicios que en ella existen).</p>

        <p>El portal del que es titular la AEPD contiene enlaces a sitios web de terceros, cuyas políticas de privacidad son
            ajenas a la de la AEPD. Al acceder a tales sitios web usted puede decidir si acepta sus políticas de privacidad
            y de cookies. Con carácter general, si navega por internet usted puede aceptar o rechazar las cookies de terceros
            desde las opciones de configuración de su navegador.</p>

        <p>En cumplimiento de lo previsto por el artículo 5 de la LOPD, se informa que los datos de carácter personal que se
            recaban directamente del usuario a través de los distintos recursos disponibles en el portal, serán tratados
            de forma confidencial y quedarán incorporados a los respectivos ficheros de los que es responsable la AEPD, con
            las finalidades que se detallan en el Registro General de Protección de Datos no siendo utilizados para finalidades
            incompatibles con estas. Los datos recabados podrán ser cedidos en los casos previstos, para cada fichero, en
            dicho Registro.</p>

        <p>Los afectados pueden ejercitar los derechos de acceso, rectificación, cancelación y oposición ante la AEPD, mediante
            escrito dirigido a su Secretaría General, en la calle Jorge Juan, nº 6, 28001 Madrid.</p>

        <h2>Aviso legal</h2>

        <p>Este portal, cuyo titular es la Agencia Española de Protección de Datos (AEPD), con NIF Q2813014D, domicilio en la
            calle Jorge Juan, nº6, 28001 Madrid, y teléfono 901 100 099, está constituido por los sitios web asociados a
            los dominios agpd.es, sedeagpd.gob.es, tudecideseninternet.es y redipd.org.</p>

        <h2>Propiedad intelectual e industrial</h2>

        <p>El diseño del portal y sus códigos fuente, así como los logos, marcas y demás signos distintivos que aparecen en
            el mismo pertenecen a la AEPD y están protegidos por los correspondientes derechos de propiedad intelectual e
            industrial.
        </p>

        <h2>Responsabilidad de los contenidos</h2>

        <p>La AEPD no se hace responsable de la legalidad de otros sitios web de terceros desde los que pueda accederse al portal.
            La AEPD tampoco responde por la legalidad de otros sitios web de terceros, que pudieran estar vinculados o enlazados
            desde este portal.</p>

        <p>La AEPD se reserva el derecho a realizar cambios en el sitio web sin previo aviso, al objeto de mantener actualizada
            su información, añadiendo, modificando, corrigiendo o eliminando los contenidos publicados o el diseño del portal.</p>

        <p>La AEPD no será responsable del uso que terceros hagan de la información publicada en el portal, ni tampoco de los
            daños sufridos o pérdidas económicas que, de forma directa o indirecta, produzcan o puedan producir perjuicios
            económicos, materiales o sobre datos, provocados por el uso de dicha información.</p>

        <h2>Reproducción de contenidos</h2>

        <p>Se prohíbe la reproducción total o parcial de los contenidos publicados en el portal. No obstante, los contenidos
            que sean considerados como datos abiertos en la Sede Electrónica, publicados según lo previsto en el Real Decreto
            1495/2011, de 24 de octubre, de desarrollo de la Ley 37/2007, sobre reutilización de la información del sector
            público, para el ámbito del sector público estatal, podrán ser objeto de reproducción en los términos contenidos
            en el siguiente Aviso.</p>

        <p>Registro General de Protección de Datos</p>

        <p>La información sobre ficheros inscritos en el Registro General de Protección de Datos se publica de acuerdo con lo
            previsto en el artículo 14 de la Ley Orgánica 15/1999, de 13 de diciembre, de Protección de Datos de Carácter
            Personal (LOPD).</p>

        <p>La reproducción total o parcial, incluso el volcado del contenido del Registro a cualquier soporte, exigirá la expresa
            autorización de la AEPD.</p>

        <p>Los datos de carácter personal incluidos en el Registro no podrán ser objeto de tratamiento, ni usarse para finalidades
            distintas a la de esta publicación.</p>

        <h2>Sede Electrónica</h2>

        <p>De acuerdo con lo establecido por el artículo 7 del Real Decreto 1671/2009, de 6 de noviembre, por el que se desarrolla
            parcialmente la Ley 11/2007, de 22 de junio, de acceso electrónico de los ciudadanos a los servicios públicos,
            la AEPD se responsabiliza de la integridad, veracidad y actualización de la información y los servicios a los
            que pueda accederse a través de su Sede Electrónica (https://sedeagpd.gob.es/).</p>

        <h2>Portal de transparencia</h2>

        <p>A través de la información publicada en el portal de transparencia, la AEPD atiende de forma periódica y actualizada
            el principio de publicidad activa establecido por la Ley 19/2013, de 9 de diciembre, de transparencia, acceso
            a la información pública y buen gobierno, con los mecanismos adecuados para facilitar la accesibilidad, la interoperabilidad,
            la calidad y la reutilización de la información, así como su identificación y localización.</p>

        <h2>Ley aplicable</h2>

        <p>La ley aplicable en caso de disputa o conflicto de interpretación de los términos que conforman este aviso legal,
            así como cualquier cuestión relacionada con los servicios del presente portal, será la ley española.</p>
        <br>
    </span>
</div>