<div class="row">
    <div class="col-sm-offset-2 col-sm-8 col-sm-offset-2">
        <hr>
        <h2 class="intro-text text-center">
            <strong>Registro</strong>
        </h2>
        <hr>

        <form [formGroup]="formGroup" (validSubmit)="onSubmit()" class="form-horizontal">
            <div class="form-group">
                <label for="email" class="col-sm-2 control-label">Email</label>
                <div class="col-sm-10">
                    <input [(ngModel)]='email' type="email" name='email' class="form-control" id="inputEmail" formControlName="Email" placeholder="Email"
                        required>
                </div>
            </div>
            <br>

            <div class="form-group">
                <label for="inputPassword" class="col-sm-2 control-label">Contraseña</label>
                <div class="col-sm-10">
                    <input [(ngModel)]='pass' type="password" class="form-control" formControlName="Password" id="inputPassword" placeholder="Contraseña"
                        required>
                </div>
            </div>

            <br>
            <br>
            <div class="form-group">
                <label for="inputName" class="col-sm-2 control-label">Nombre</label>
                <div class="col-sm-10">
                    <input [(ngModel)]='nombre' type="text" name='nombre' class="form-control" id="inputName" formControlName="Nombre" placeholder="Nombre"
                        required> </div>
            </div>
            <div class="form-group">
                <label for="inputSurname" class="col-sm-2 control-label">Apellidos</label>
                <div class="col-sm-10">
                    <input [(ngModel)]='apellidos' type="text" name='apellidos' class="form-control" id="inputSurname" placeholder="Apellidos"
                        formControlName="Apellidos" required> </div>
            </div>
            <div class="form-group">
                <label for="inputTlf" class="col-sm-2 control-label">Teléfono</label>
                <div class="col-sm-10">
                    <input [(ngModel)]='telefono' type="text" name='telefono' class="form-control" formControlName="Telefono" id="inputTlf" placeholder="Teléfono"
                        required>
                </div>
            </div>
            <div class="form-group">
                <label for="inputDir" class="col-sm-2 control-label">Dirección</label>
                <div class="col-sm-10">
                    <input [(ngModel)]='direccion' formControlName="Direccion" type="text" name='direccion' class="form-control" id="inputDir"
                        placeholder="Dirección" required>
                </div>
            </div>
            <div class="form-group">
                <label for="inputCP" class="col-sm-2 control-label">Código Postal</label>
                <div class="col-sm-10">
                    <input [(ngModel)]='cp' type="text" formControlName="CP" name='cp' class="form-control" placeholder="Código Postal" required>

                </div>
            </div>
            <br>
            <div class="form-group text-center">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" name='enviar' class="btn btn-default btn-lg" (click)="registrarDatos()">Registrarse</button>
                    <input type="reset" class="btn btn-default btn-lg" value="Borrar todo">
                </div>
            </div>

        </form>
    </div>
</div>