body {
    padding-top: 70px;
}
.caption {
    /* height: 130px; */
    overflow: hidden;
}
/* .caption h4 {
    white-space: nowrap;
} */
.thumbnail img {
    width: 100%;
}
.thumbnail {
    padding: 0;
}
.thumbnail .caption-full {
    padding: 9px;
    color: #333;
}

#iniciar {
    float: right;
}
.head {
    margin-top: -20px;
    margin-bottom: -50px;
    background-color: #7b9f91;
}
.fondo {
   background-color: #7b9f91;
   padding:2em;
}
.principal {
    background-color: white;
    padding: 2em;
    min-height: 40em;
    border-radius: 25px;
  
}
.footer {
    width: 100%;
    background-color: #984C60;
}
.navbar {
    margin-bottom: 0px !important;
}
.rowHead {
    display: flex;
    align-items: center;
    padding: 2em;
}
.breadcrumb {
    margin-bottom: 0.5em !important;
    color: #39715C !important;
    font-family: 'Courgette', cursive;
    font-weight: bold !important;
    padding-bottom: 2em;
}

#precio {
    border-bottom: 1px dashed black;
    border-top: 1px dashed black;
    border-width: medium;
    border-bottom-color: #578775;
    border-top-color: #578775;
    width: 50%;
    text-align: center;
    font-size-adjust: auto;
    padding: 0.5em;
    margin: 1em;
}
#aniadir {
    max-height: 45px;
    max-width: 45px;
}
#nombreProducto {
    text-align: left;
    font-size-adjust: auto;
}
#cantidad {
    max-width: 10%;
    text-align: center;
    padding: 0.5em;
    margin: 1em;
    margin-bottom: 3em;
}
#descripcion {
    width: 90%;
    padding: 0.5em;
    margin: 1em;
}


.navbar,
.navbar-inverse,
.navbar-fixed-top {
    background-color: #984C60 !important;
    font-family: 'Roboto';
}


.navbar-inverse .navbar-nav>li>a {
    color: white !important;
    background-color: #984C60;
}

.navbar-inverse {
    border-color: #984C60 !important;
}
em {
    font-family: Sacramento;
    font-weight: bold;
    font-size: 200%;
}
body {
    font-family: Roboto !important;
    font-size: 150% !important;
}
.btn-block {
    background-color: #578775 !important;
    color:white !important;
}
.btn-block:hover {
    background-color: #984C60 !important;
}
a {
    color: #993367;
}
a:hover {
    text-decoration: none;
    color: #993367;
    font-style: italic;
}
nav a:hover {
    text-decoration: none;
    background-color: #578775!important;
    font-style: italic;
}

.dropdown-menu {
    background-color: #984C60!important;
}
.dropdown-menu li a {
    color: white;
    font-size: medium;
}

.navbar-inverse .dropdown-menu > li:nth-child(even) {
    background-color: #984C60;

}
.navbar-inverse .dropdown-menu > li:nth-child(odd) {
    background-color: #578775;

}
.navbar-inverse .dropdown-menu > li:nth-child(even)>a:hover {
    background-color: white!important;
    color:#984C60!important;
}
.navbar-inverse .dropdown-menu > li:nth-child(odd)>a:hover {
    background-color: white!important;
    color:#578775!important;

}
.navbar-brand{
    color:white!important;
    margin-right: 10em;
}


.dropdown-menu > li > a{
    color: white!important;
    font-weight: bold;
}
.navbar-collapse {
    background-color: #984C60;
}
.divider hr {
    border-style: dashed;
    border-color:#578775;
}

.pull-left{
    padding:1em;
}
.list-group-item.active{
    background-color: #578775!important; 
    border-color: #578775!important;
}
/* .list-group-item.active,
.list-group-item.active:focus {
    background-color: #578775;
    border-color: #578775;
}
.list-group-item:hover {
    background-color: #984C60;
    border-color: #578775;
}
.list-group-item:hover,
.list-group-item:hover {
    background-color: #984C60 !important;
    color: white !important;
} */
footer {
    font-weight: bold;
    color: white;
    font-family: Roboto !important;
    letter-spacing: 2px;
}
.lead {
    font-family: 'Sacramento' !important;
    color: #984C60;
}
.pedido .glyphicon-remove:hover {
    color: red;
}
.pedido th,
.pedido td {
    text-align: center;
}
#total {
    font-size: 160%;
}
.thumbnail {
    border: 1px solid #984C60!important;
    
}
h2,
h3 {
    color: #578775;
}
.form-control {
    font-style: italic;
}
button:hover {
    background-color: #984C60 !important;
    color: white !important;
}
.siguenos h3 {
    color:white !important;
}
.collapsed {
    background-color: #578775;
}
.navbar-collapse .collapse .in {
    background-color: #578775;
}

div#slogan {
    color: white;
    font-family: Courgette;
    font-weight: bold;
    font-size: x-large;
    text-align: center;
}
#enviarMensaje {
    background-color: #578775;
    color: white;
    font-size: medium;
}
.btn-default {
    border-color: #578775;
    color: black;
}
.form-control {
    border-color: #578775;
}

#id{
    padding:1em;
}
footer {
    text-align: center;
}
.socialmedia{
    max-height: 45px !important;
    max-width: 45px !important;
}

#flecha{
    max-height: 80px !important;
    max-width: 80px !important;
    padding-top: 2em;
}
footer img:hover {
    border-bottom: 4px solid #578775;
}
.datos {
    margin-top: 2.75em;
}
.thumbnail img {
    max-width: 320px;
    max-height: 150px;
    /*   adaptar imagenes:*/
    display: block;
    width: auto;
    height: auto;
}
footer p{
    padding: 1em;
}
footer{
    padding-top: 2em;
}
#mapa img {
    max-width: 500px;
    max-height: 500px;
    /*   adaptar imagenes:*/
    display: block;
    width: auto;
    height: auto;
    float: right;
    padding: 1em;
}

footer a{
color:white;
}

#container {
    width: 100%;
    margin: 5em auto;
    padding: 0;
    background:#fff;
}

.items {
    max-width:300px;
    height:300px;
    background:#ECECEC;
}

#left, #right { 
    margin: 30px;
}

#inicio{
    max-height:25px;
    max-width:25px;
    display: inline-block;
    margin: 0.5em;
    border: none;
}
#titulo{
    color:#578775!important;
}
#logonavbar{
    max-height:60px;
    max-width:60px; 
    display: inline-block;
    margin:2px;
   
}

.titulocarousel{
         color: white;
        text-shadow: 2px 2px 4px #000000;
    
}

#destacado{
    
        text-shadow: 2px 2px 8px #578775;
        padding-bottom: 1.5em;
    
}

#articulosdestacados{
    padding-top: 4em;
   
}

carousel img{
    width: auto;
    height: 500px;
    max-height: 500px;
}

html {
    font-size: 14px;
  }
  
  @include media-breakpoint-up(sm) {
    html {
      font-size: 16px;
    }
  }
  
  @include media-breakpoint-up(md) {
    html {
      font-size: 20px;
    }
  }
  
  @include media-breakpoint-up(lg) {
    html {
      font-size: 28px;
    }
  }

  #containerinicio{
      margin:1em;
  }
  
  .btn-group{
padding-left: 2em;
  }
  /* For Firefox */
input[type='number'] {
    -moz-appearance:textfield;
}
/* Webkit browsers like Safari and Chrome */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

@media all and (min-width:768px) and (max-width:940px){
    .esconderTablet{
        display:none
    }
}

.navbar-collapse.in{
    overflow-y: visible!important;
}